{% extends "base.html" %}
{% block content %}
<h1>Video and Audio Merge</h1>
<form method="POST" action="" , enctype="multipart/form-data">
  {% csrf_token %}
  <div class="form-row mt-4">
    <div class="col">
      <label for="video">Upload Video : </label>
      <input type="file" name="video" id="video"><br><br>
      <label for="audio">Upload Audio : </label>
      <input type="file" name="audio" id="audio">
    </div>
  </div>
  <button type="submit" class="btn btn-primary mt-2">Convert</button>
</form><br>
{% if message %}
<div class="alert alert-warning" role="alert">
  <p>{{message}}</p>
</div>
{% endif %}

{% if true %}
<!-- <p>{{ data.video.name }}</p> -->
<!-- <video src="{{ data.video.url }}"></video> -->
<p>Download Video : <a href="{{ data.video.url }}" download="speech.mp3">Download</a></p>
{% endif %}
{% endblock %}